{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Heyyy welcome to use this web application:-)
  </p>
  <br />
  <p>
    You can find your favourite movie here, you can watch it anywhere and every movie is for free until 3030!!! ENJOY!
  </p>
  <br />

  <p>
    Please click on "register" to sign up your own account(just one minute!), if you already have an account please click "login". And please click "help" if you have any questions or feedback about our website:-))
  </p>
  <p>
    If you want to check movies' information you can click on "movies" :-)
  </p>
  <p style="text-align: right; font-style: italic;">
    YIYUE QIAO yqia691 :-)
  </p>
</main>
{% endblock %}
